/* fonts from Google */
@import url('https://fonts.googleapis.com/css?family=Hind');

.Grid-cell {
  display: inline-block;
  width: calc(90%/3);
}

button {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #7151A4;
  background-color: #553D7B;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  font-family: 'Hind', sans-serif;
  color: white;
  text-align: center;
  transition: background-color 0.2s ease-out;
}


button:focus {
  outline: 0;
}

button:active {
  background-color: #7151A4;
}
